.App {
  text-align: center;
background-color: rgb(210, 210, 231);
}

.Button_Container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.Button{
  font-size: 2rem;
  margin: 1em;
  padding: .5em;
  border: 4mm ridge rgba(50, 104, 220, 0.6);
  box-shadow: -5px 0px 29px 9px rgba(2, 30, 52, 0.327);
  background:radial-gradient(circle, rgba(186, 217, 219, 0.855) 5%, transparent 99%) rgb(173, 191, 205);
  color: rgb(245, 219, 144);
  text-shadow: 2px 1px 3px rgba(61, 0, 0, 1);


}

.Header{
  font-size: 1.3rem;
  padding-top: 1.5em;
}

h1{
font-size: 60px;
}
.Excuse_Text{
  font-size: 3rem;

}

